mixin footer
    footer.border-top
        .container-fluid
            .row
                .col-12.content
                    .float-left
                        ul.list-inline
                            li.list-inline-item
                            a(href='#') Home
                            li.list-inline-item
                            a(href='#') Agencies search
                            li.list-inline-item
                            a(href='#') Contact Us
                    .float-right
                        | Icon made by 
                        a(href='https://www.freepik.com/') Freepik
                        |  from 
                        a(href='https://www.flaticon.com/') www.flaticon.com