mixin header
    header.border
        .logo.d-inline-block.align-middle
        // <h3 class="d-inline-block">Welcome Manitoba</h3>
        nav.d-inline-block
            ul.list-inline
                li.list-inline-item
                    a(href='/') Home
                li.list-inline-item
                    a(href='/agencies') Agency search
                
                li.list-inline-item
                    a(href='#') Contact Us