window.onload = function() {
      var name = { 
        _id: "5b0df42aeb7267b5aace7c85",
        name: 'Opportunities For Employment',
        address: '300-294 Portage Avenue',
        website: 'www.ofe.ca' };
    }